.translation-tool {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  pointer-events: none;
  z-index: 99999999;

  .button {
    cursor: pointer;
    pointer-events: all;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;

    &.open {
      position: absolute;
      bottom: 10px;
      left: 10px;
      background: black;
      color: white;
      padding: 10px 20px;
      border-top: 4px solid #3AB882;
    }

    &.close {

    }

    &.language {
      background: white;
      padding: 10px 20px;
      margin: 2px;
      border: 1px solid #444444;
      opacity: 0.5;

      &.active {
        opacity: 1;
      }
    }
  }

  .languages {
    position: 100vw;
    min-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #e7e7e7;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .language {
      width: 20%;
      flex: 1;
    }
  }
}
